/source/Application/RoughLess/Debug
/source/Application/RoughLess/RoughLess Debug.launch
/source/Application/RoughLess/RoughLess Release.launch
/source/Libraries/CMSISv2p00_LPC17xx/Debug
/source/Libraries/GMMLib/Debug
/source/Libraries/Lib_EaBaseBoard/Debug
/source/Libraries/Lib_FatFs_SD/Debug
/source/Libraries/Lib_MCU/Debug
